 
<style>
  .divider {
    height: 1px;
    width: 750px;
    max-width: calc(100% - 2em);
    background: var(--accent);
    margin: 0 auto;
    margin-top: 0.5em;
  }
</style>

<div class='divider'></div>
