
<footer>
  <div class='motto'>我有明珠一颗 久被尘劳关锁 待得尘尽光生 照破山河万朵</div>
  ｜
  <a target='_blank' rel='nofollow' href='https://beian.miit.gov.cn'
    >桂ICP备2023000840号-1</a
  >
</footer>
<style>
  footer {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    padding: 1.2em 1em;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    border-top: 1px solid var(--accent);
    .motto {
      color: var(--text-secondary);
      display: inline-block;
    }

    a {
      text-decoration: none;
      margin: 0 0.5em;
      color: var(--text-secondary);
      cursor: pointer;
    }
  }

  @media (max-width: 600px) {
    footer {
      font-size: 0.8em;
      padding: 0.8em 0.5em;
    }
  }
</style>
